Repository OBOFoundry/OBOFoundry.github.io, pull requests merged in 2020-09, with the labels that each got.

#1227 Update fp-002-format.md
  principles/fp-002-format.md
Labels: principles

#1161 Removing mention of 2ary 3ary contacts
  principles/fp-011-locus-of-authority.md
Labels: ontology metadata

#1228 Update fp-000-summary.md
  principles/fp-000-summary.md
Labels: principles

#1229 Update fp-003-uris.md
  principles/fp-003-uris.md
Labels: principles

#1230 Update fp-004-versioning.md
  principles/fp-004-versioning.md
Labels: principles

#1210 Proposed changes to versioning principle
  principles/fp-004-versioning.md
Labels: principles

#1266 Creating Minimum Ontology Registration Request Checklist
  docs/RegistrationChecklist.md
Labels: attn: Operations Committee
