Repository OBOFoundry/OBOFoundry.github.io, pull requests merged in 2022-10, with the labels that each got.

#2122 Fall cleaning
  README-sitedev.md
  README.md
  _layouts/browse_layout.html
  browse.html
  faq/how-do-i-edit-metadata.md
  images/envo.png
  legacy/crit.html
  legacy/literature.html
  legacy/participate.html
  legacy/publications.html
  legacy/relatedprojects.html
  legacy/resources.html
  ontology/amphx.md
  ontology/envo.md
  sparql/ontology-contact.sparql
  util/schema/registry_schema.json
  util/validate-metadata.py
Labels: website

#2151 Curate more publications
  ontology/bco.md
  ontology/emapa.md
  ontology/iceo.md
Labels: ontology metadata

#2170 Fix typo in preferred prefix T4FS
  ontology/t4fs.md
Labels: ontology metadata, specific ontology
